.row.row-offcanvas.row-offcanvas-left
  #sidebar.col-sm-3.col-md-2.sidebar-offcanvas{:role => "navigation"}
    %ul#sidebar.nav.nav-pills.nav-stacked.pull-right.fixed{:style => "max-width: 200px;"}
      %li
        %a.page-scroll{:href => "#dw"}
          %span.glyphicon.glyphicon-off
          = "Deans welcome"
      %li
        %a.page-scroll{:href => "#history"}
          %span.glyphicon.glyphicon-off
          = "History"
      %li
        %a.page-scroll{:href => "#mission"}
          %span.glyphicon.glyphicon-off
          = "Mission Statement"
      %li
        %a.page-scroll{:href => "#vision"}
          %span.glyphicon.glyphicon-off
          = "Vision Statement"
  .col-sm-9.col-md-10.main.content
    %p.visible-xs.fixed
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"}
        %i.glyphicon.glyphicon-chevron-left
    #main-content
      %section#dw.odd-section
        .container-fluid
          .row
            .col-sm-1.col-md-1
            .col-sm-9.col-md-10
              %h1 Deans Welcome
              %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu nisi condimentum, sollicitudin nunc pulvinar, venenatis elit. Integer justo velit, accumsan eu varius non, placerat non ligula. Fusce sagittis fringilla nibh ac euismod. Aliquam vitae metus vitae nulla tristique pellentesque at vel odio. Morbi fermentum faucibus vehicula. Curabitur eu odio nec nisl tincidunt lobortis nec vel massa. Nullam rutrum risus vitae rutrum elementum. Nam elementum ipsum vitae arcu rutrum convallis. In quis quam nibh. Phasellus bibendum risus felis, eu lacinia magna sollicitudin vitae. Praesent sollicitudin lobortis quam, ut eleifend ante. Proin at mollis orci, quis vestibulum est. Fusce ut tincidunt nisl. Aliquam ut justo sit amet leo ultricies pretium eu eu nisl. Morbi quam eros, eleifend sit amet varius in, efficitur eu nunc. Quisque et suscipit lectus, at dapibus nulla. Donec nec ultrices enim, id lobortis nulla.
      %section#history.even-section
        .container-fluid
          .row
            .col-sm-1.col-md-1
            .col-sm-9.col-md-10
              %h1 HISTORY
              %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu nisi condimentum, sollicitudin nunc pulvinar, venenatis elit. Integer justo velit, accumsan eu varius non, placerat non ligula. Fusce sagittis fringilla nibh ac euismod. Aliquam vitae metus vitae nulla tristique pellentesque at vel odio. Morbi fermentum faucibus vehicula. Curabitur eu odio nec nisl tincidunt lobortis nec vel massa. Nullam rutrum risus vitae rutrum elementum. Nam elementum ipsum vitae arcu rutrum convallis. In quis quam nibh. Phasellus bibendum risus felis, eu lacinia magna sollicitudin vitae. Praesent sollicitudin lobortis quam, ut eleifend ante. Proin at mollis orci, quis vestibulum est. Fusce ut tincidunt nisl. Aliquam ut justo sit amet leo ultricies pretium eu eu nisl. Morbi quam eros, eleifend sit amet varius in, efficitur eu nunc. Quisque et suscipit lectus, at dapibus nulla. Donec nec ultrices enim, id lobortis nulla.
      %section#mission.odd-section
        .container-fluid
          .row
            .col-sm-1.col-md-1
            .col-sm-9.col-md-10
              %h1 MISSION
              %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu nisi condimentum, sollicitudin nunc pulvinar, venenatis elit. Integer justo velit, accumsan eu varius non, placerat non ligula. Fusce sagittis fringilla nibh ac euismod. Aliquam vitae metus vitae nulla tristique pellentesque at vel odio. Morbi fermentum faucibus vehicula. Curabitur eu odio nec nisl tincidunt lobortis nec vel massa. Nullam rutrum risus vitae rutrum elementum. Nam elementum ipsum vitae arcu rutrum convallis. In quis quam nibh. Phasellus bibendum risus felis, eu lacinia magna sollicitudin vitae. Praesent sollicitudin lobortis quam, ut eleifend ante. Proin at mollis orci, quis vestibulum est. Fusce ut tincidunt nisl. Aliquam ut justo sit amet leo ultricies pretium eu eu nisl. Morbi quam eros, eleifend sit amet varius in, efficitur eu nunc. Quisque et suscipit lectus, at dapibus nulla. Donec nec ultrices enim, id lobortis nulla.
      %section#vision.even-section
        .container-fluid
          .row
            .col-sm-1.col-md-1
            .col-sm-9.col-md-10
              %h1 VISION
              %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu nisi condimentum, sollicitudin nunc pulvinar, venenatis elit. Integer justo velit, accumsan eu varius non, placerat non ligula. Fusce sagittis fringilla nibh ac euismod. Aliquam vitae metus vitae nulla tristique pellentesque at vel odio. Morbi fermentum faucibus vehicula. Curabitur eu odio nec nisl tincidunt lobortis nec vel massa. Nullam rutrum risus vitae rutrum elementum. Nam elementum ipsum vitae arcu rutrum convallis. In quis quam nibh. Phasellus bibendum risus felis, eu lacinia magna sollicitudin vitae. Praesent sollicitudin lobortis quam, ut eleifend ante. Proin at mollis orci, quis vestibulum est. Fusce ut tincidunt nisl. Aliquam ut justo sit amet leo ultricies pretium eu eu nisl. Morbi quam eros, eleifend sit amet varius in, efficitur eu nunc. Quisque et suscipit lectus, at dapibus nulla. Donec nec ultrices enim, id lobortis nulla.
