%footer.footer
  .row
  .container.footnotes.pull-right
    %p.pull-right.back-to-top-link
      %a.text-muted#back-to-top{ href: "#"}
        %span.glyphicon.glyphicon-chevron-up{aria: { hidden: 'true' }}
        Back to top
  .row
    .container-fluid.footer-text
      .col-md-3.col-sm-3.col-sm-offset-1
        %h6 ENGINEERING WEBSITE
      .col-md-3.col-sm-3
        %h6 LOGO HERE?
      .col-md-3.col-sm-3
        %h6 Contact Us
  .row
