%footer.footer
  .container.footnotes.pull-right
    %p.pull-right.back-to-top-link
      %a.text-muted{ href: "#"}
        %span.glyphicon.glyphicon-chevron-up{aria: { hidden: 'true' }}
        Back to top
