-# %footer.footer
-#   .row
-#     .container-fluid.footer-text#footer-content
-#       .col-md-3.col-sm-3
-#         %h6 ENGINEERING WEBSITE
-#         %ul
-#           %li Academic Programs
-#           %li About Engineering
-#           %li Student Life
-#           %li Study In CPU
-#           %li News
-#           %li Events
-#           %li Contact Us
-#       .col-md-3.col-sm-3.col-sm-offset-1
-#         %h6 LOGO HERE?
-#       .col-md-3.col-sm-3.col-sm-offset-1
-#         %h6 Contact Us
-#       %p.pull-right.back-to-top-link
-#         %a.text-muted#back-to-top{ href: "#"}
-#           %span.glyphicon.glyphicon-chevron-up{aria: { hidden: 'true' }}
-#           Back to top
-#   .row#footer-content
-#     %hr
.container.footer
  .row#footer-content
    .col-xs-3
      %ul.list-unstyled
        %li
          College Of Engineering
          %li
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} About Engineering
            %li
              %a{:href => "#"} Student Life
            %li
              %a{:href => "#"} Study In CPU
            %li
              %a{:href => "#"} News
            %li
              %a{:href => "#"} Events
    .col-xs-3
      %ul.list-unstyled
        %li
          Academic Programs
          %li
            %li
              %a{:href => "#"} Chem
            %li
              %a{:href => "#"} Civil
            %li
              %a{:href => "#"} ECE
            %li
              %a{:href => "#"} EE
            %li
              %a{:href => "#"} Mech
            %li
              %a{:href => "#"} SE
            %li
              %a{:href => "#"} PkgE
    .col-xs-3
      %ul.list-unstyled
        %li
          Services
          %li
            %li
              %a{:href => "#"} Research
            %li
              %a{:href => "#"} Outreach
            %li
              %a{:href => "#"} CPU Engineer
    .col-xs-3
      %ul.list-unstyled
        %li
          Contact Us
          %li
            %li
              Contact #: 6549684685416
            %li
              Email Address: aosdnas@gmail.com
            %li
              FB: asdfasfadfsafa
            %li
              Twitter: afdsafsafs
  %hr
    .row#footer-bottom
      .col-xs-6
      .col-xs-6
        %p.text-muted.pull-right © 2016 CPU College Of Engineering. All rights reserved
