%ul.bxslider
  %li= image_tag('/uploads/department/logo/2/12932784_1082420805154861_7469630968358105915_n.jpg')
  %li= image_tag('/uploads/news/image/4/_MG_2281.jpg')


-# TODO dapat pwede kaubra ang user carousel, 
  -# either mapili sya events/news or maubra sya custom(upload pic kg butangan caption)
