* {
    margin: 0;
}
html, body {
    height: 100%;
    font-size: 100%;
}
body {
    padding-top: 70px;
}
footer {
  border-top: solid #EEEEEE;
  border-width: thin;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 3%
}

.back-to-top-link {
  margin-top: 2.5%;
}

/*SLIDFER*/
.bx-viewport, .bx-wrapper {
    position: relative;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
}
.bxslider, .bxslider li {
    height: 100% !important;
    ;
}
.bxslider li {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport {
    border: none !important;
}
.bx-wrapper img {
    margin: 0 auto;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        height: 100%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
    }
    .row-offcanvas-left.active {
        left: 33%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
}

/* Sidebar navigation */



#sidebar {
  padding-right: 1%;
  height: 100%;
}
#notes {
    word-wrap: break-word;
    width: 25px;
}

/*home stuff*/

.header-img {
    height: 100px;
    margin-bottom: 50px;
}

.home-content {
    border-left: thin solid #DD4814;
    height: 100%;
    padding-left: 5%;
    padding-right: 2.5%
}
